#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	max-width: 80%;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	max-width: 100%;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ 
	border: none; 
	clear: both;
	max-width: 100%;
} 
#overlay img{ border: none; }

#overlay{ background-image: url(overlay.png); }


#leftArrow, #rightArrow{
	background: url('../images/bg-slider-arrows.png') no-repeat;
	background-size: cover;
	width: 75px;
	height: 75px;
	display: inline-block;
	margin: 40px;
	vertical-align: 50%;
}

#rightArrow{
	background-position: -75px 0px;
}


* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}
	